@import 'variables';

.musicPlayer{
    border:2px solid black;
    padding:10px;
    margin:10px;
    height:200px;
    padding:10px;
    display:flex;
    justify-content:left;
    .imgMusic{
        width:100px;
        height:100px;
        float:left;
        border-radius:100px;
        margin:10px;
    }
    h3{
        margin:0;
    }
    audio{
        width:500px;
    }
}