@import 'variables';
.content-form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    form{
        width: 30%;
        label{
            color: $pri-col !important;
        }
        button{
            color: $sec-col !important;
            background-color: $pri-col !important;
            &:hover{
                color: $thi-col !important;
            }
        }
    }
    .error{
        margin-top:10px;
        text-align:center;
        span{
            color:$sec-col;
            text-transform: uppercase;
            padding:10px;
            border-radius:100px;
            background-color: $pri-col;
        }
    }
}