@import 'component/main-nav';
@import 'user/new';
@import 'user/edit';
@import 'user';
@import 'login';
@import 'upload';
@import 'flux';
@import 'variables';

html, body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600;
    padding: 0;
    margin: 0 auto;
    background-color: $sec-col;
    color: $pri-col;
}
.content-app{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}