<div>
    <h1>New User</h1>

    <form {{action 'save' on="submit" enctype="multipart/form-data" }}>
        <dl>
            <dt>Username:<br> {{input value=username}}</dt>
            <dt>Email:<br>{{input value=email}}</dt>
            <input type='file' id='file-field' />
            <dt>Password:<br>{{input type="password" value=password}}</dt>
        </dl>
        <button type="submit">Add</button>
    </form>
</div>